.FooterForm {
  width: 100%;
  min-height: 300px;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/images/foooter-form-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.FooterFormContainer {
  width: 90%;
  max-width: 1540px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
  text-align: center;
}

.FooterFormContainer h2 {
  font-size: var(--font-size-6);
  line-height: var(--line-height-5);
}

.FooterFormContainer p {
    font-size: var(--font-size-3);
    line-height: var(--line-height-5);
}