.hero {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/header-bg_768.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(0, #fff 40%, transparent);
  z-index: -1;
}

.heroContainer {
  width: 90%;
  max-width: 1540px;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 990px) {
  .heroContainer {
    padding: 3rem 0 0 0;
  }
}

.heroContainer h1 {
  color: #222;
  font-size: var(--font-size-9);
  font-weight: 600;
  text-align: center;
  text-wrap: wrap;
  margin-bottom: 2rem;
}

.heroContainer .heroDiscription {
  font-size: var(--font-size-5);
  text-align: center;
  text-wrap: wrap;
  margin-bottom: 2rem;
}

.heroContainer > a {
  width: 12rem;
  max-width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: var(--font-size-3);
  font-weight: 600;
  text-transform: capitalize;
  background-color: var(--color-primary-blue);
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.5rem;
}

@media (max-width: 920px) {
  .heroContainer h1 {
    font-size: var(--font-size-8);
    margin-bottom: 1rem;
  }

  .heroContainer .heroDiscription {
    font-size: var(--font-size-4);
    max-width: 80%;
    margin-bottom: 1rem;
  }

  .heroContainer > a {
    width: 10rem;
  }
}

.heroContainer > a:hover {
  background-color: var(--color-secoundry-blue);
  transform: scale(0.98);
}

.heroContainer > span {
  font-size: var(--font-size-1);
  color: #666;
}

.showServices {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.showServicesHeader {
  width: fit-content;
  max-width: 100%;
  height: 4rem;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.75rem;
  background-color: var(--color-secoundry-light);
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
}

.showServicesHeader .showServicesHeaderBoxIcon {
  width: fit-content;
  height: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-secoundry-light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: .5;
}

.showServicesHeader .showServicesHeaderBoxIcon:hover {
  background-color: #ebf1f5;
  opacity: 1;
}

.showServicesHeader .showServicesHeaderBoxIcon.active {
  opacity: 1;
  background-color: #fff;
  box-shadow: -5px 1.5px 10px rgba(187, 187, 187, 0.5);
}

.servicesTitle {
  display: none;
}

.showServices .servicesImage {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 3px 8px 0 rgba(13, 19, 35, 0.15);
  transition: all 0.3s ease-in-out;
  animation: imgView 0.5s ease-in-out;
  border-radius: 1rem;
}

@keyframes imgView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 920px) {
  .servicesTitleIcon {
    display: none;
  }

  .showServicesHeader {
    height: fit-content;
    gap: 1rem;
    margin: 0.75rem auto;
    background-color: transparent;
  }

  .showServicesHeader .showServicesHeaderBoxIcon {
    width: 50px;
    height: 40px;
  }

  .showServicesHeader .showServicesHeaderBoxIcon img {
    width: 75%;
    height: 75%;
  }

  .showServices .servicesImage {
    width: auto;
    max-width: 100%;
  }

  .servicesTitle {
    width: 100%;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-4);
    font-weight: bold;
    text-transform: capitalize;
  }
}
